<div class="content" role="main">
  <div class="typewritter">
    <div class="container-title">
      <h1 class="typewritter-title">
        <span class="primary__title">¡Hola! soy </span>
        <span class="secondary__title"> Alejandro Chacón </span>
      </h1>
      <br>
      <h4 class="typewritter-subtitle"> 
        Transformación digital, blockchain y new banking.</h4>
      <h4 class="typewritter-subtitle"> 
        Amplia experiencia en lenguajes y banca clásicos, 
        pero a la vez en las tecnologías más trending y llegando a todas las plataformas posibles.
        <br>
        <br>
        ¿Te gustaría verlo en acción ?
        
        <button>
          START JOURNEY
        </button>
      </h4>
      <h4 class="typewritter-subtitle"> 
        
      </h4>
    </div>
  </div>

</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>