<div class="content" role="main">
    <div class="typewritter">
      <div class="container-title">  
        <h1 class="typewritter-title">
         <span class="primary__title">Hola, soy </span>
         <span class="secondary__title"> Alejandro Chacón </span></h1>
        <h4 class="typewritter-subtitle"> Apasionado de las nuevas tecnologías, las criptomonedas y las nuevas finanzas</h4> 
        <h4 class="typewritter-subtitle"> Defensor de la revolución digital de la banca tradicional</h4>
        <h4 class="typewritter-subtitle"> Difusor la revolución digital de la banca moderna </h4>
      </div>
    </div>
    <!--
  
    <p> ¿Quieres saber más sobre neo-banca?  
      <button> 
        START JOURNEY      
      </button>
    </p>
    -->
</div>

<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >
