<div class="content" role="main">
  <div class="typewritter">
    <div class="container-title">
      <h1 class="typewritter-title">
        <span class="primary__title">Hola, soy </span>
        <span class="secondary__title"> Alejandro Chacón </span>
      </h1>
      <h4 class="typewritter-subtitle"> Entusiasta de las nuevas tecnologías, blockchain y new banking.</h4>
      <h4 class="typewritter-subtitle"> Defensor de la revolución digital de la banca tradicional.</h4>
      <h4 class="typewritter-subtitle"> Difusor la revolución digital de la banca moderna.</h4>
      <h4 class="typewritter-subtitle">
        ¿Quieres saber más?
        <button>
          START JOURNEY
        </button>
      </h4>
    </div>
  </div>

</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>