<header class="header">
    <div class="wrapper">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-link" routerLink="/home" >Home</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" routerLink="/about">About</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>